<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile" (click)="cardOverview()"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-padding ion-text-center">{{ card?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editCard()">
        <ion-icon name="build-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="padding"> 
  {{card?.price}}
</ion-content>

<!-- [routerLink]="['/', 'profile', 'card', 'edit', card?.id] -->