<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ selectedTransaction?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteTransaction(selectedTransaction?.id)">
        <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <h4>Edit details for {{ selectedTransaction?.title }}</h4>

  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input
              formControlName="title"
              minlength="1"
              maxlength="22"
              type="text"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input formControlName="price" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item>
            <ion-label position="floating">Card name</ion-label>
            <ion-input
              formControlName="cardName"
              maxlength="12"
              type="text"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item>
            <ion-toggle
              justify="start"
              class="ion-justify-content-center"
              formControlName="active"
              >Transaction active?</ion-toggle
            >
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item>
            <ion-label class="padding"
              >When was last time u got charged?</ion-label
            >
            <ion-datetime-button datetime="datetime"> </ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  formControlName="date"
                  id="datetime"
                  presentation="date"
                  displayFormat="YYYY-MM-DD"
                  locale="en-US"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            [disabled]="!form.valid"
            (click)="onEditTransaction()"
            >Edit transaction</ion-button>
            </ion-col
        >
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
