<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button tab="card" defaultHref="/card"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-padding">Add new transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input
              formControlName="title"
              minlength="1"
              maxlength="22"
              type="text"
              autocomplete="true"
              autocorrect="true"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input formControlName="price" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item>
            <ion-label position="floating">Card Name</ion-label>
            <ion-input
              formControlName="cardName"
              maxlength="12"
              type="text"
              autocomplete="true"
              autocorrect="true"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-datetime-button datetime="datetime"> </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                formControlName="date"
                id="datetime"
                presentation="date"
                displayFormat="YYYY-MM-DD"
                locale="en-US"
              ></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="9" size-sm="5" size-md="4" size-lg="3" size-xl="2">
          <ion-button
            expand="block"
            type="submit"
            [disabled]="!form.valid"
            (click)="onCreateTransiction()"
            >Create transiction</ion-button
          ></ion-col
        >
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
