<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedCard?.title }}</ion-title>
    <ion-buttons slot="primary" (click)="onDeleteCard()">
      <ion-icon name="trash" slot="icon-only"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>{{ loadedCard?.cardName }}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
